<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>Welcome to BYFS!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</header>
<body>
<div id="page_header">
    <div id="corp_logo">
        <p>Do What You Do Better !</p>

    </div>
    <div id="page_menu">
        <ul>
            <li><a href="new.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="contact.html">Contant</a></li>
        </ul>

    </div>
</div>
<div id="page_body">
    <br/>
    <img src="images/george.jpg" style="float: right; margin-right: 2px" alt="George"/>
    <p style="text-align: left;margin-left: 5px">Have complete control over your design and code. Install and customize any WordPress theme you want or build your own with PHP and CSS.</p>
    <br/>
    <p style="text-align: left;margin-left: 5px">Have complete control over your design and code. Install and customize any WordPress theme you want or build your own with PHP and CSS.</p>
    <br/>
    <p style="text-align: left;margin-left: 5px">Have complete control over your
        <a href="">design</a>  and code. Install and customize any WordPress theme you want or build your own with PHP and CSS.</p>

</div>
<footer>Copyright 2017</footer>
</body>
</html>