<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>Welcome to BYFS!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</header>
<body>
<div id="page_header">
    <div id="corp_logo">
        <p>Do What You Do Better !</p>

    </div>
    <div id="page_menu">
        <ul>
            <li><a href="new.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="contact.html">Contant</a></li>
        </ul>

    </div>
</div>
<div id="page_body">

    <p style="text-align: left;margin-left: 5px">There are so many the ime spent on the marketing</p>
    <img src="/images/tools.jpg" alt="/Tools" style="float: right"/>
    <p style="text-align: left;margin-left: 5px">Business is helping out </p>
    <ul style="text-align: left;margin-left: 20px">
        <li>Technology Consulting</li>
        <li>Business messaging</li>
        <li>Content stratergy</li>
        <li>Leadership developemtn</li>

    </ul>
    <p style="text-align: left;margin-left: 5px">Business is helping out </p>

</div>
<footer>Copyright 2017</footer>
</body>
</html>