<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>Welcome to BYFS!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</header>
<body>
<div id="page_header">
    <div id="corp_logo">
        <p>Do What You Do Better !</p>

    </div>
    <div id="page_menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="contact.html">Contant</a></li>
        </ul>

    </div>
</div>
<div id="page_body">
    <p>The {{email}} id is registered !!!</p>

</div>
<footer>Copyright 2017</footer>
</body>
</html>